/* 
РЕКОМЕНДАЦИИ:
font-size по современным веб-стандартам не может быть меньше 14рх;

расстояние между строчками(line-height)
 - по умолчанию 1.3, можно немного увеличить;

текст пишется по правилам языка, если нужно сделать аперкейс - text-transform: uppercase;

letter-spacing - увеличивающее расстояние между символами;

https://webaim.org/resources/contrastchecker/ - сервис для проверки контрастности цвета фона и шрифта

использовать псевдоэлементы

*/

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	/* пример стилизация шрифта */
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #4d2323;
}

.container {
	/* border: 1px solid yellow; */
	max-width: 1440px;
	margin: 0 auto;
}

/* HEADER */
.header {
	border: 1px solid red;
	/* большие блоки и секции не должны 
	иметь внешние отступы margin */
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	transition: .3s;
	/* cursor: pointer; */
	/* Для строчных 
	элементов вместо вертикальных padding 
	удобнее указывать высоту строки. */
  }

.nav-link:hover {

}

.nav-item a {
	color: #829985;
	text-decoration: none;  
	transition: color 0.5s;
  }
  .nav-item a:hover {
	color: #4d2323;
  }

/* MAIN */
.main {
	border: 1px solid blue;
	/* большие блоки и секции не должны 
	иметь внешние отступы margin */
}

.main-container {
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: 50%;
	border: 1px solid;
}
/* пример стилизация заголовков */
.section-title {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #829985;
  }

@media (max-width: 768px) {
	.section {
	  width: 100%;
	}
  }

  /* пример стилизации ссылок */
.section-title {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #829985;
  }
/* Пример кода маркеров списка */
  .section-item {
	position: relative;
	padding-left: 30px;
  }
  
  .section-item::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0px;
	width: 7px;
	height: 7px; 
	border: 1px solid #829985;
	border-radius: 50%;
  }


/* FOOTER */
.footer {
	border: 1px solid green;
	/* большие блоки и секции не должны 
	иметь внешние отступы margin */
}

/* url(https://cdn.intra.42.fr/coalition/cover/103/Aer1.jpg) */